<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form (ngSubmit)="addCar()" (reset)="closeTab()">
      <div class="table_design">
        <table class="arabatablo">

          <tr *ngIf="isSubmitted">
            <th><input placeholder="Id Giriniz" type="text" /></th>
            <th><input placeholder="Araba Kodunu Giriniz" type="text" /></th>
            <th><input placeholder="Araba plakasını Giriniz" type="text" /></th>
            <th><input placeholder="Araba sürücüsünü Giriniz" type="text" /></th>
            <th><input placeholder="Araba tipi Giriniz" type="text" /></th>
            <th><input placeholder="Araba kişi sayısını Giriniz" type="text" /></th>
            <th style="width: 60px"><button style="margin-right: 7px;">Ekle</button><button type="reset">X</button></th>
          </tr>

          <tr>
            <th>Id</th>
            <th>Kod</th>
            <th>Plaka</th>
            <th>Sürücü</th>
            <th>Tip</th>
            <th>Kisi sayısı</th>
            <th colspan="2" style="text-align: center;"><button type="submit">Ekle</button></th>
          </tr>

          <tr>
            <td>111</td>
            <td>TR090</td>
            <td>07ABC07</td>
            <td>Mehmet</td>
            <td>Sedan</td>
            <td>5</td>

            <td style="width: 140px">
                <button type="submit" style="margin-right: 5px;">Güncelle</button>
                <button type="submit">Sil</button>
            </td>
          </tr>

        </table>
      </div>
    </form>
  </body>
</html>
