<!-- <input class="c-checkbox" type="checkbox" id="start">
<input class="c-checkbox" type="checkbox" id="progress2">
<input class="c-checkbox" type="checkbox" id="finish">
<div class="c-form__progress"></div>

<div class="c-formContainer">
  <div class="c-welcome">Girdin</div>
  <form class="c-form" action="">

    <div class="c-form__group">
      <label class="c-form__label" for="femail">
        <input type="email" id="femail" class="c-form__input" placeholder=" "
          pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>

        <label class="c-form__next" for="progress2" role="button">
          <span class="c-form__nextIcon"></span>
        </label>

        <span class="c-form__groupLabel">E-mail?</span>
        <b class="c-form__border"></b>
      </label>
    </div>

    <div class="c-form__group">
      <label class="c-form__label" for="fpass">
        <input type="password" id="fpass" class="c-form__input" placeholder=" " required>

        <label class="c-form__next" for="finish" role="button">
          <span class="c-form__nextIcon"></span>
        </label>

        <span class="c-form__groupLabel">Şifre</span>
        <b class="c-form__border"></b>
      </label>
    </div>

    <label class="c-form__toggle" for="start">Yönetici Giriş<span class="c-form__toggleIcon"></span></label>
    <label class="c-form__toggle" for="start">Kullanıcı Girişi<span class="c-form__toggleIcon"></span></label>
  </form>
</div> -->

<div class="login-box">
  <h2>Giriş</h2>
  <div class="user-box">
    <input
      #txtUsernameOrEmail
      type="text"
      id="username"
      class="c-form__input"
      required
    />
    <label>Kullanıcı adı ya da E-mail</label>
  </div>
  <div class="user-box">
    <input
      #txtPassword
      type="password"
      id="Password"
      class="c-form__input"
      required
    />
    <label>Şifre</label>
  </div>

  <form>
    <button
      type="submit"
      (click)="login(txtUsernameOrEmail.value, txtPassword.value)">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Ekle
    </button>
  </form>
</div>
