
<div class="login-box">
  <h2>Giriş Yap</h2>
  <div class="user-box">
    <input
      #txtUsernameOrEmail
      type="text"
      id="username"
      class="c-form__input"
      required
    />
    <label>Kullanıcı adı ya da E-mail</label>
  </div>
  <div class="user-box">
    <input
      #txtPassword
      type="password"
      id="Password"
      class="c-form__input"
      required
    />
    <label>Şifre</label>
  </div>

  <form>
    <button
      type="submit"
      (click)="login(txtUsernameOrEmail.value, txtPassword.value)">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Giris
    </button>

    <div class="disco">
      <img src="../../../../assets/discoball.gif">
    </div>
    
  </form>
</div>
