<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- class=" navbar navbar-expand-lg  fixed-top py-lg-0 " -->
<div class="wrapper + fixed-top py-lg-0" >
  <div id="sidebar">

    <div class="toggle-btn" (click)="show()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <h2 class="navbar-brand me-2" href="http://kod.com.tr/">
      <img src="http://kod.com.tr/Images/logo.png" height="36" alt="" loading="lazy" style="margin-top: -1px;" />
    </h2>
    <ul>
      <li><a routerLink=""><i class="fa fa-home"></i> Anasayfa</a></li>
      <li *ngIf="authService.isAuthenticated"><a routerLink="admin"><i class="fa fa-user-secret"></i> Admin</a></li>
      <li *ngIf="!authService.isAuthenticated"><a routerLink="login"><i class="fa fa-user-circle"></i> Giriş Yap</a>
      </li>
      <li *ngIf="!authService.isAuthenticated"><a routerLink="register"><i class="fa fa-pencil"></i> Kayıt Ol</a></li>
      <li (click)="signOut()" *ngIf="authService.isAuthenticated"><a style="color:red;cursor:pointer;"><i
            class="fa fa-sign-out"></i> Çıkış Yap</a></li>
    </ul>
    <div class="social_media">
      <a href="https://github.com/Furkan-Kumus/Tour-Reservation-Web-App-UI"><i class="fab fa-github"></i></a>
    </div>
  </div>
</div>