<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let driver">{{ driver.id }}</td>
    </ng-container>

    <ng-container matColumnDef="DriverName">
      <th mat-header-cell *matHeaderCellDef>İsim</th>
      <td mat-cell *matCellDef="let driver">{{ driver.driverName }}</td>
    </ng-container>

    <ng-container matColumnDef="DriverSurname">
      <th mat-header-cell *matHeaderCellDef>Soyisim</th>
      <td mat-cell *matCellDef="let driver">{{ driver.driverSurname }}</td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        <button (click)="opentab()">Şoför Ekle</button>
      </th>
      <td
        mat-cell
        *matCellDef="let drivers"
        style="text-align: center"><img src="../../../../assets/edit-file.png" style="width: 30px;"></td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Sil
      </th>
      <td [id]="drivers.id" mat-cell *matCellDef="let drivers" appDeletedriver (callback)="getDrivers()"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    (page)="pageChanged()"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<form [formGroup]="frmDriver" (ngSubmit)="addDriver(frmDriver.value)">
  <div class="table_design">
    <table class="arabatablo" >
      <tr *ngIf="isSubmitted">
        <th>
          <h6 style="text-align: center">Id otomatik oluşturulmaktadır.</h6>
        </th>

        <th>
          <input
            placeholder="Şoför Adını Giriniz"
            type="text"
            id="DriverName"
            formControlName="DriverName"
          />
        </th>

        <th>
          <input
            placeholder="Şoför Soyadını Giriniz"
            type="text"
            id="DriverSurname"
            formControlName="DriverSurname"
          />
        </th>

        <th style="width: 60px; text-align: center">
          <button type="submit" style="margin-right: 7px">Ekle</button
          ><button (click)="closeTab()" onClick="window.location.reload();">
            X
          </button>
        </th>
      </tr>
    </table>
  </div>
</form>