<script src="https://kit.fontawesome.com/fc596df623.js" crossorigin="anonymous"></script>
<h2>Sık Sorulan Sorular</h2>

<div class="background">


<div class="timeline">

	<!--first-->
	<div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			☆   
		</div>
		<div class="timeline__event__content ">
			<div class="timeline__event__title">
				
			</div>
			<div class="timeline__event__description">
				<p>S: Tatil planlamam için ne kadar önceden rezervasyon yapmalıyım? </p>
                <p>C: Tatil planlamaları, destinasyonun popülerliğine ve sezonuna bağlı olarak değişiklik gösterebilir. Genellikle, tatil tarihinden en az 2-3 ay öncesinden rezervasyon yapmak, daha iyi fiyatlar ve seçenekler elde etmenizi sağlayabilir. Özellikle yoğun sezonlarda ve özel etkinlikler sırasında daha erken rezervasyon yapmanız tavsiye edilir.</p> 
                    
                   
			</div>
		</div>
	</div>

	<!--second-->

	<div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			☆☆
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				
			</div>
			<div class="timeline__event__description">
				<p>S: Otellerde erken check-in veya geç check-out yapabilir miyim?  </p>  
                <p>C: Otellerde erken check-in veya geç check-out yapma imkanı, otelin doluluk durumuna ve politikalarına bağlı olarak değişebilir. Çoğu otel, erken check-in veya geç check-out için ek ücret talep edebilir veya müsaitlik durumuna bağlı olarak ücretsiz olarak sunabilir.</p>
			</div>
		</div>
	</div>

	<!--third-->

	<div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			☆☆☆
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				
			</div>
			<div class="timeline__event__description">
				<p>S: Tatilim sırasında acil durumlar için ne yapmalıyım?</p> 
                <p>C: Tatiliniz sırasında acil durumlar için önceden araştırma yapmanız ve önlemler almanız önemlidir. Otelinizin resepsiyonundan acil durum numaralarını ve yerel sağlık merkezlerini öğrenmeniz, elinizin altında tutmanız faydalı olacaktır. Ayrıca, seyahat sigortanızın sağladığı acil durum hizmetlerini de kullanabilirsiniz.</p>
			</div>

		</div>
	</div>

	<!--forth-->

	<div class="timeline__event animated fadeInUp timeline__event--type1">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			☆
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				
			</div>
			<div class="timeline__event__description">
				<p>S: Yabancı bir ülkede dil problemi yaşarsam ne yapmalıyım?</p>
                <p>C: Yabancı bir ülkede dil problemi yaşarsanız, öncelikle dil bilen birinden yardım isteyebilirsiniz. Turist bölgelerinde ve büyük şehirlerde genellikle İngilizce konuşan kişileri bulmak daha kolay olabilir. Ayrıca, akıllı telefon uygulamaları ve çeviri cihazları da dil engelini aşmanıza yardımcı olabilir. İlgili bilgileri içeren bir not defteri taşımak da iletişimde yardımcı olabilir.</p>
			</div>
		</div>
	</div>

	<!--first-->
	<div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
		<div class="timeline__event__icon ">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			☆☆
		</div>
		<div class="timeline__event__content ">
			<div class="timeline__event__title">
				
			</div>
			<div class="timeline__event__description">
				<p>S: Tur rezervasyonumu nasıl değiştirebilirim?</p>
                <p>C: Tur rezervasyonunuzu değiştirmek istiyorsanız, tur şirketi veya acentesiyle iletişime geçerek değişiklik yapma olasılıklarını ve politikalarını öğrenmeniz gerekir. Değişikliklerin mümkün olduğu durumlarda, yeni tarihler için uygunluk durumunu ve ek ücretleri kontrol etmeniz önemlidir.</p>
			</div>
		</div>
	</div>

	<!--second-->

	<div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
		<div class="timeline__event__icon">
			<!-- <i class="lni-sport"></i>-->

		</div>
		<div class="timeline__event__date">
			☆☆☆
		</div>
		<div class="timeline__event__content">
			<div class="timeline__event__title">
				
			</div>
			<div class="timeline__event__description">
				<p>S: Otel rezervasyonumu nasıl iptal edebilirim?</p>
                <p>C: Otel rezervasyonunuzu iptal etmek istiyorsanız, rezervasyon yaptığınız otel veya rezervasyon platformuyla iletişime geçerek iptal politikalarını öğrenmelisiniz. Genellikle, iptal süresine bağlı olarak ücretsiz veya kısmi iade seçenekleri olabilir. Ancak, özellikle yoğun dönemlerde, belirli bir süre öncesine kadar iptal etmediğinizde ücret ödeyebileceğinizi unutmamanız önemlidir.</p>
			</div>
		</div>
	</div>

</div>