<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let flights">{{ flights.id }}</td>
    </ng-container>

    <ng-container matColumnDef="FlightCode">
      <th mat-header-cell *matHeaderCellDef>Nereden</th>
      <td mat-cell *matCellDef="let flights">{{ flights.flightCode }}</td>
    </ng-container>

    <ng-container matColumnDef="FlightRegion">
      <th mat-header-cell *matHeaderCellDef>Nereye</th>
      <td mat-cell *matCellDef="let flights">{{ flights.flightRegion }}</td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        <button (click)="opentab()">Uçuş Ekle</button>
      </th>
      <td
        mat-cell
        *matCellDef="let flights"
        style="text-align: center"><img src="../../../../assets/edit-file.png" style="width: 30px;"></td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Sil
      </th>
      <td [id]="flights.id" mat-cell *matCellDef="let flights" appDelete (callback)="getFlights()"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    (page)="pageChanged()"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<select class="form-control" formControlName="////FlightRegion" name="//////FlightRegion" id="//////FlightRegion" required style="scale: 0.75; width: 300px;">
  <option *ngFor="let category of Airport_List" [value]="category.airportCode">
   {{category.airportCode}} | {{category.airportName}}
  </option>
</select> 
<form [formGroup]="frmFlight" (ngSubmit)="addFlight(frmFlight.value)">
  <div class="table_design">
    <table class="arabatablo" >
      <tr *ngIf="isSubmitted">
        <th>
          <h6 style="text-align: center">Id otomatik oluşturulmaktadır.</h6>
        </th>

       
        <th style="margin: auto;"><h3 style="margin-left: 19%;">Nereden</h3>
          <select  class="form-control" formControlName="FlightCode" name="FlightCode" id="FlightCode" required style="scale: 0.75; width: 150px;">
            <option *ngFor="let category of Airport_List" [value]="category.airportCode">
             {{category.airportCode}} | {{category.airportName}}
            </option>
          </select>
        </th>

        <th style="margin: auto;"><h3 style="margin-left: 19%;">Nereye</h3>
          <select  class="form-control" formControlName="FlightRegion" name="FlightRegion" id="FlightRegion" required style="scale: 0.75; width: 150px;">
            <option *ngFor="let category of Airport_List" [value]="category.airportCode">
             {{category.airportCode}} | {{category.airportName}}
            </option>
          </select>
        </th>


        




        

        <th style="width: 60px; text-align: center">
          <button type="submit" style="margin-right: 7px">Ekle</button
          ><button (click)="closeTab()" onClick="window.location.reload();">
            X
          </button>
        </th>
      </tr>
    </table>
  </div>
</form>