<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let airport">{{ airport.id }}</td>
    </ng-container>

    <ng-container matColumnDef="AirportCode">
      <th mat-header-cell *matHeaderCellDef>Havaalanı Kodu</th>
      <td mat-cell *matCellDef="let airport">{{ airport.airportCode }}</td>
    </ng-container>

    <ng-container matColumnDef="AirportName">
      <th mat-header-cell *matHeaderCellDef>Havaalanı İsmi</th>
      <td mat-cell *matCellDef="let airport">{{ airport.airportName }}</td>
    </ng-container>
    
    <ng-container matColumnDef="AirportCountry">
      <th mat-header-cell *matHeaderCellDef>Havaalanı Ülkesi</th>
      <td mat-cell *matCellDef="let airport">{{ airport.airportCountry }}</td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        <button (click)="opentab()">Havaalanı Ekle</button>
      </th>
      <td
        mat-cell
        *matCellDef="let airport"
        style="text-align: center"><img src="../../../../assets/edit-file.png" style="width: 30px;"></td>
    </ng-container>
    
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Sil
      </th>
      <td [id]="airport.id" mat-cell *matCellDef="let airport" appDelete (callback)="getAirport()"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    (page)="pageChanged()"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<form [formGroup]="frmAirport" (ngSubmit)="addAirport(frmAirport.value)">
  <div class="table_design">
    <table class="arabatablo">
      <tr *ngIf="isSubmitted">
        <th>
          <h6 style="text-align: center">Id otomatik oluşturulmaktadır.</h6>
        </th>

        <th>
          <input
            placeholder="Havaalanı Kodunu Giriniz"
            type="text"
            id="AirportCode"
            formControlName="AirportCode"
          />
        </th>

        <th>
          <input
            placeholder="Havaalanı İsmini Giriniz"
            type="text"
            id="AirportName"
            formControlName="AirportName"
          />
        </th>

        <th>
          <input
            placeholder="Havaalanı Ülkesini Giriniz"
            type="text"
            id="AirportCountry"
            formControlName="AirportCountry"
          />
        </th>
        

        <th style="width: 60px; text-align: center">
          <button type="submit" style="margin-right: 7px">Ekle</button
          ><button (click)="closeTab()" onClick="window.location.reload();">
            X
          </button>
        </th>
      </tr>
    </table>
  </div>
</form>
