<!-- <input class="c-checkbox" type="checkbox" id="start" />
<input class="c-checkbox" type="checkbox" id="progress2" />
<input class="c-checkbox" type="checkbox" id="progress3" />
<input class="c-checkbox" type="checkbox" id="progress4" />
<input class="c-checkbox" type="checkbox" id="finish" />
<div class="c-form__progress"></div>

<div class="c-formContainer">
  <div class="c-welcome">Welcome aboard!</div>
  <div>
    <label class="c-form__next" for="progress2" role="button">
      <span class="c-form__nextIcon"></span>
    </label>
  </div>
  <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)" class="c-form">

    

    <div class="c-form__group">
      <label class="c-form__label" for="name">
        <input
          type="text"
          id="name"
          formControlName="name"
          class="c-form__input"
          placeholder=" "
          required
        />

        <label class="c-form__next" for="progress2" role="button">
          <span class="c-form__nextIcon"></span>
        </label>

        <span class="c-form__groupLabel">İsminiz</span>
        <b class="c-form__border"></b>
      </label>
    </div>

    <div class="c-form__group">
      <label class="c-form__label" for="username">
        <input
          type="text"
          id="username"
          class="c-form__input"
          placeholder=" "
          formControlName="username"
          required
        />

        <label class="c-form__next" for="progress3" role="button">
          <span class="c-form__nextIcon"></span>
        </label>

        <span class="c-form__groupLabel">Kullanıcı Adınız</span>
        <b class="c-form__border"></b>
      </label>
    </div>

    <div class="c-form__group">
      <label class="c-form__label" for="femail">
        <input
          type="email"
          id="femail"
          class="c-form__input"
          placeholder=" "
          formControlName="mail"
          required
        />

        <label class="c-form__next" for="progress4" role="button">
          <span class="c-form__nextIcon"></span>
        </label>

        <span class="c-form__groupLabel">E-mail?</span>
        <b class="c-form__border"></b>
      </label>
    </div>

    <div class="c-form__group">
      <label class="c-form__label" for="fpass">
        <input
          type="password"
          id="fpass"
          class="c-form__input"
          placeholder=" "
          formControlName="pass"
          required
        />

        <label type="submit" class="c-form__next" for="finish" role="button">
          <span class="c-form__nextIcon"></span>
        </label>

        <span class="c-form__groupLabel">Şifre</span>
        <b class="c-form__border"></b>
      </label>
    </div>

    <label class="c-form__toggle" for="start"
      >Kayıt Ol<span class="c-form__toggleIcon"></span
    ></label>
  </form>
</div> -->

<div class="login-box">
  <h2>Kayıt Ol</h2>
  <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">

    <div class="user-box">
      <input
        type="text"
        id="NameSurname"
        formControlName="NameSurname"
        class="c-form__input"
        required
        [ngClass]="{'is-invalid': submitted && component.NameSurname.errors}"
      />
      <label>Ad Soyad</label>
      <small *ngIf="submitted && component.NameSurname.errors?.required">Lütfen adınızı ve soyadınızı giriniz!</small>
      <small *ngIf="submitted && component.NameSurname.errors?.minlength">Ad ve Soyad 3 karakterden fazla olmalıdır!</small>
      <small *ngIf="submitted && component.NameSurname.errors?.maxlength">Ad ve Soyad 50 karakterden az olmalıdır!</small>
    </div>


    <div class="user-box">
      <input
        type="text"
        id="Username"
        class="c-form__input"
        formControlName="Username"
        required
      />
      <label>Kullanıcı Adı</label>
      <small *ngIf="submitted && component.Username.errors?.required">Lütfen kullanıcı adınızı giriniz!</small>
      <small *ngIf="submitted && component.Username.errors?.minlength">Kullanıcı Adı 3 karakterden fazla olmalıdır!</small>
      <small *ngIf="submitted && component.Username.errors?.maxlength">Kullanıcı Adı 50 karakterden az olmalıdır!</small>
    </div>


    <div class="user-box">
      <input
        type="email"
        id="Email"
        class="c-form__input"
        formControlName="Email"
        required
      />
      <label>Mail Adresi</label>
      <small *ngIf="submitted && component.Email.errors?.required">Lütfen mail adresinizi giriniz!</small>
      <small *ngIf="submitted && (component.Email.errors?.email || component.Email.errors?.minlength)">Lütfen geçerli bir mail adresinizi giriniz!<br/>(10 karakterden az olamaz)</small>
    </div>


    <div class="user-box">
      <input
        type="password"
        id="Password"
        class="c-form__input"
        formControlName="Password"
        required
      />
      <label>Şifre</label>
      <small *ngIf="submitted && component.Password.errors?.required">Lütfen şifrenizi giriniz!</small>
      <small *ngIf="submitted && component.Password.errors?.pattern">Şifreniz Büyük/Küçük karakter, Özel karakter,<br/>Sayı içermelidir ve en az 8 karakter olmalıdır!</small>
    </div>


    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Ekle
    </button>

  </form>
</div>
