<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <form (ngSubmit)="addUser()" (reset)="closeTab()">
      <div class="table_design">
        <table class="arabatablo">

          <tr *ngIf="isSubmitted">
            <th><input placeholder="Id Giriniz" type="text" /></th>
            <th><input placeholder="Kullanıcı İsmini Giriniz" type="text" /></th>
            <th><input placeholder="Kullanıcı Soyismini  Giriniz" type="text" /></th>
            <th><input placeholder="Kullanıcı Şirketini Giriniz" type="text" /></th>
            <th><input placeholder="Kullanıcı yetkisini Giriniz" type="text" /></th>
            <th style="width: 60px"><button style="margin-right: 7px;">Ekle</button><button type="reset">X</button></th>
          </tr>

          <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Şirket</th>
            <th>Yetki</th>
            <th colspan="2" style="text-align: center;"><button type="submit">Ekle</button></th>
          </tr>

          <tr>
            <td>6070</td>
            <td>Serra</td>
            <td>Çelik</td>
            <td>Sedna</td>
            <td>Müdür</td>

            <td style="width: 140px">
                <button type="submit" style="margin-right: 5px;">Güncelle</button>
                <button type="submit">Sil</button>
            </td>
          </tr>

        </table>
      </div>
    </form>
  </body>
</html>
