

  
<div class="background">
  <div class="blur">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
        href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;400&family=Permanent+Marker&display=swap"
        rel="stylesheet">
      <title>Codepen Challenge Magazine Layout</title>
    </head>
    <header>
      <h1 class="headline">Tour </h1>
    </header>

    <div class="grid-wrapper">
      <div class="background">
        <div class="blur">
          <div class="background">
            <div class="blur">
      <div class="grid-feature-split">
        <div class="featured-article-heading">
          <h2 class="subhead">Türkiye'de tatil için en güzel yerler</h2>
          <div class="article-meta">
            <div class="author-description">
              <svg id="author-avatar" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" width="80"
                height="80">
                <title id="avatarTitle">Author Avatar</title>
                <desc id="avatarDesc">A cartoon avatar of a smiling purple square on a blue background.</desc>
                <mask id="mask__beam" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36">
                  <rect width="36" height="36" rx="72" fill="white"></rect>
                </mask>
                <g mask="url(#mask__beam)">
                  <rect width="36" height="36" fill="#0ebeff"></rect>
                  <rect x="0" y="0" width="36" height="36" transform="translate(6 6) rotate(192 18 18) scale(1)"
                    fill="#754cac" rx="6"></rect>
                  <g transform="translate(0 2) rotate(-2 18 18)">
                    <path d="M13,19 a1,0.75 0 0,0 10,0" fill="white"></path>
                    <rect x="12" y="14" width="1.5" height="2" rx="1" stroke="none" fill="white"></rect>
                    <rect x="22" y="14" width="1.5" height="2" rx="1" stroke="none" fill="white"></rect>
                  </g>
                </g>
              </svg>
             
            </div>
            <p class="article-tags">
              
            </p>
          </div>

          <div class="article featured-article">
            <div class="article-decoration"></div>
            <p class="lead">Antalya, Türkiye'nin bir ili ve en kalabalık beşinci şehridir. 2022 sonu itibarıyla il nüfusu 2.688.004'dür. Türkiye'de "turizmin başkenti" olarak görülmektedir. Özellikle yaz aylarında turist sayısı artar. 
            </p>

           
            <br>
            <div class="article-decoration"></div>
          </div>
        </div>

        <div class="article-img featured-img">
          <figure>
            <img src="https://lp-cms-production.imgix.net/2019-06/9170bd2874ed3c7cb7c4c064de39abb3411474d858fc01829ddd158dba80ad5c.jpg"
              alt="a smiling person in a pink hoodie, standing in front of a bright pink lighted arcade basketball game. " />
            
              
            <aside class="featured-aside">
              
              <p>1500$ </p>
            </aside>
          </figure>
          <!-- full size image: https://images.unsplash.com/flagged/photo-1556339911-7ef846e7db43-->
        </div>

        
  </div>
</div>


 

    