<header>
	
	<h1 class="headline">6F61C0</h1>
	<h2 class="subhead">6F61C0</h2>
	
</header>
<div class="section">
	<div class="container flex_div">
		<div class="one_fourth">
			<body>
        <div class="main-container">
          <div class="year-stats">
            <div class="month-group">
              <div class="bar h-100"></div>
              <p class="month">Jan</p>
            </div>
            <div class="month-group">
              <div class="bar h-50"></div>
              <p class="month">Feb</p>
            </div>
            <div class="month-group">
              <div class="bar h-75"></div>
              <p class="month">Mar</p>
            </div>
            <div class="month-group">
              <div class="bar h-25"></div>
              <p class="month">Apr</p>
            </div>
            <div class="month-group selected">
              <div class="bar h-100"></div>
              <p class="month">May</p>
            </div>
            <div class="month-group">
              <div class="bar h-50"></div>
              <p class="month">Jun</p>
            </div>
            <div class="month-group">
              <div class="bar h-75"></div>
              <p class="month">Jul</p>
            </div>
            <div class="month-group">
              <div class="bar h-25"></div>
              <p class="month">Aug</p>
            </div>
            <div class="month-group">
              <div class="bar h-50"></div>
              <p class="month">Sep</p>
            </div>
            <div class="month-group">
              <div class="bar h-75"></div>
              <p class="month">Oct</p>
            </div>
            <div class="month-group">
              <div class="bar h-25"></div>
              <p class="month">Nov</p>
            </div>
            <div class="month-group">
              <div class="bar h-100"></div>
              <p class="month">Dez</p>
            </div>
          </div>
      
          <div class="stats-info">
            <div class="graph-container">
              <div class="percent">
                <svg viewBox="0 0 36 36" class="circular-chart">
                  <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831" />
                </svg>
              </div>
              <p>Total: $2075</p>
            </div>
      
            <div class="info">
              <p>Most expensive category <br /><span>Restaurants & Dining</span></p>
              <p>Updated categories <span>2</span></p>
              <p>Bonus payments <span>$92</span></p>
            </div>
          </div>
        </div>
      </body>
		</div> <!-- one_fourth -->
		<div class="half">
      <!-- BİZİM KOD
      <div class="frame">
  <div class="card">
  	<div class="header">
			<span class="title big">Weekly report</span>
			<span class="date small">01. Feb - 07. Feb</span>
			<span class="type small">Revenue</span>
			<span class="value">3621.79</span>
		</div>
		<div class="clearfix"></div>
		<div class="parameter">
			<span class="red">Views</span>
			<span class="blue">Purchases</span>
		</div>
		<div class="statistic">
			<div class="line-1"></div>
			<div class="line-2"></div>
			<div class="line-3"></div>
			<div class="data red">
				<svg>
					<polyline points="9,46 50,12 90,23 130,11 171,38 211,48 251,19"></polyline>    
				</svg>
				<div class="points">
					<div class="point-1">
						<div class="tooltip">458</div>
					</div>
					<div class="point-2">
						<div class="tooltip">812</div>
					</div>
					<div class="point-3">
						<div class="tooltip">746</div>
					</div>
					<div class="point-4">
						<div class="tooltip">877</div>
					</div>
					<div class="point-5">
						<div class="tooltip">517</div>
					</div>
					<div class="point-6">
						<div class="tooltip">434</div>
					</div>
					<div class="point-7">
						<div class="tooltip">458</div>
					</div>
				</div>
			</div>
			<div class="data blue">
				<svg>
					<polyline points="9,61 50,50 90,65 130,55 171,61 211,74 251,64"></polyline>    
				</svg>
				<div class="points">
					<div class="point-1">
						<div class="tooltip">26</div>
					</div>
					<div class="point-2">
						<div class="tooltip">41</div>
					</div>
					<div class="point-3">
						<div class="tooltip">22</div>
					</div>
					<div class="point-4">
						<div class="tooltip">36</div>
					</div>
					<div class="point-5">
						<div class="tooltip">25</div>
					</div>
					<div class="point-6">
						<div class="tooltip">13</div>
					</div>
					<div class="point-7">
						<div class="tooltip">20</div>
					</div>
				</div>
			</div>
		</div>
		<div class="days">
			<span class="day">Mon</span>
			<span class="day">Tue</span>
			<span class="day">Wed</span>
			<span class="day">Thu</span>
			<span class="day">Fri</span>
			<span class="day">Sat</span>
			<span class="day">Sun</span>
		</div>
  </div>
</div>
      -->
			<!-- <figure>
				<img src="https://assets.codepen.io/t-1/freddy-g-lhy1lY3CyLI-unsplash.jpg" alt="a smiling person in a pink hoodie, standing in front of a bright pink lighted arcade basketball game. " />
				<figcaption>Photo by Freddy G</figcaption>
			</figure> -->
			<div class="mag_content">
				<div class="frame">
          <div class="card">
            <div class="header">
              <span class="title big">Weekly report</span>
              <span class="date small">01. Feb - 07. Feb</span>
              <span class="type small">Revenue</span>
              <span class="value">3621.79</span>
            </div>
            <div class="clearfix"></div>
            <div class="parameter">
              <span class="red">Views</span>
              <span class="blue">Purchases</span>
            </div>
            <div class="statistic">
              <div class="line-1"></div>
              <div class="line-2"></div>
              <div class="line-3"></div>
              <div class="data red">
                <svg>
                  <polyline points="9,46 50,12 90,23 130,11 171,38 211,48 251,19"></polyline>    
                </svg>
                <div class="points">
                  <div class="point-1">
                    <div class="tooltip">458</div>
                  </div>
                  <div class="point-2">
                    <div class="tooltip">812</div>
                  </div>
                  <div class="point-3">
                    <div class="tooltip">746</div>
                  </div>
                  <div class="point-4">
                    <div class="tooltip">877</div>
                  </div>
                  <div class="point-5">
                    <div class="tooltip">517</div>
                  </div>
                  <div class="point-6">
                    <div class="tooltip">434</div>
                  </div>
                  <div class="point-7">
                    <div class="tooltip">458</div>
                  </div>
                </div>
              </div>
              <div class="data blue">
                <svg>
                  <polyline points="9,61 50,50 90,65 130,55 171,61 211,74 251,64"></polyline>    
                </svg>
                <div class="points">
                  <div class="point-1">
                    <div class="tooltip">26</div>
                  </div>
                  <div class="point-2">
                    <div class="tooltip">41</div>
                  </div>
                  <div class="point-3">
                    <div class="tooltip">22</div>
                  </div>
                  <div class="point-4">
                    <div class="tooltip">36</div>
                  </div>
                  <div class="point-5">
                    <div class="tooltip">25</div>
                  </div>
                  <div class="point-6">
                    <div class="tooltip">13</div>
                  </div>
                  <div class="point-7">
                    <div class="tooltip">20</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="days">
              <span class="day">Mon</span>
              <span class="day">Tue</span>
              <span class="day">Wed</span>
              <span class="day">Thu</span>
              <span class="day">Fri</span>
              <span class="day">Sat</span>
              <span class="day">Sun</span>
            </div>
          </div>
        </div>
      </div>
			