@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
body {
	background: #749BC2;
	
	font-family: "Montserrat", sans-serif;
}
header {
	text-align: center;
	background: #F6F4EB;
	padding-top: 1rem;
}
header h1 {
	font-size: rem;
	margin: 0;
	color: #4682A9;
	text-transform: uppercase;
}
header h2 {
	color: #6F61C0;
	font-weight: 100;
}
.article-meta {
	color: #fff;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}
.article-meta p {
	display: inline-block;
}
.section {
	padding: 4rem 2rem;
	background: #F6F4EB;
}
.container {
	width: 80%;
	margin: auto;
}
.tag {
	color: #bc4e9c;
	border-radius: 25px;
	font-size: 13px;
	display: inline-block;
	padding: 3px 14px;
	margin: 4px 0;
}
.flex_div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.fullwidth {
	width: 100%;
}
.half {
	width: 45%;
}

.one_fourth {
	width: 50%;
}
figure {
	width: 100%;
	margin: 0;
}
img {
	width: 100%;
}
figcaption {
	display: none;
}
.mag_content {
	padding: 20px;
	background: #F6F4EB;
}
.mag_content p {
	color: rgba(255, 255, 255, 0.5);
	line-height: 26px;
	font-weight: 400;
}
.mag_content h2 {
	color: #fff;
	margin-top: 0;
}
.spacer {
	height: 20px;
}
@media (max-width: 1024px) {
	.one_fourth {
		width: 100%;
	}
	.half {
		width: 100%;
		margin-top: 20px;
	}
}
/*YENİ*/
@import url('https://fonts.googleapis.com/css?family=Satisfy|Zilla+Slab');
.card {
  position: center;
  
  height: 380px;
  width: 470px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.card .header {
  position: relative;
  height: 70px;
  width: 100%;
  background: #749BC2;
  color: #fff;
}
.card .header .big {
  position: absolute;
  font-family: Satisfy, fantasy;
  font-size: 1.5rem;
}
.card .header .small {
  position: absolute;
  font-size: 1rem;
}
.card .header .title {
  top: 12px;
  left: 15px;
}
.card .header .date {
  top: 2.5rem;
  left: 15px;
}
.card .header .type {
  top: 14px;
  right: 15px;
}
.card .header .value {
  position: absolute;
  font-size: 1.5rem;
  top: 2rem;
  right: 15px;
}
.card .parameter {
  text-align: right;
  padding: 10px 0 14px 0;
}
.card .parameter span {
  position: relative;
  font-size: 0.85rem;
  color: #606060;
  line-height: 13px;
  padding: 0 10px 0 25px;
}
.card .parameter span:before {
  position: absolute;
  left: 6px;
  top: 6px;
  display: block;
  content: '';
  width: 11px;
  height: 4px;
  border-radius: 3px;
}
.card .parameter .red:before {
  background: #643a7a;
}
.card .parameter .blue:before {
  background: #547496;
}
.card .statistic {
  position: relative;
  height: 100px;
  width: 260px;
  margin: 0 auto;
}
.card .statistic .line-1, .card .statistic .line-2, .card .statistic .line-3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: rgba(255, 192, 203, 0.3);
}
.card .statistic .line-2 {
  top: 40px;
}
.card .statistic .line-3 {
  top: inherit;
  bottom: 0;
}
.card .statistic .data svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: 4s dash 0.5s linear forwards;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.card .statistic .data polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
}
.card .statistic .data.red polyline {
  stroke: #643a7a;
}
.card .statistic .data.blue polyline {
  stroke: #547496;
}
.card .statistic .data .tooltip {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translate3d(-50%, 10px, 0);
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  padding: 8px 6px;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s;
}
.card .statistic .data .tooltip:after {
  position: absolute;
  display: block;
  content: '';
  height: 6px;
  width: 6px;
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  transform: rotate(45deg);
}
.card .statistic .data [class^="point-"] {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;
}
.card .statistic .data [class^="point-"]:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
.card .statistic .data.red [class^="point-"], .card .statistic .data.red .tooltip, .card .statistic .data.red .tooltip:after {
  background: #643a7a;
}
.card .statistic .data.red .point-1 {
  left: 7px;
  top: 43px;
}
.card .statistic .data.red .point-2 {
  left: 48px;
  top: 9px;
}
.card .statistic .data.red .point-3 {
  left: 88px;
  top: 20px;
}
.card .statistic .data.red .point-4 {
  left: 128px;
  top: 8px;
}
.card .statistic .data.red .point-5 {
  left: 169px;
  top: 35px;
}
.card .statistic .data.red .point-6 {
  left: 209px;
  top: 45px;
}
.card .statistic .data.red .point-7 {
  left: 249px;
  top: 16px;
}
.card .statistic .data.blue [class^="point-"], .card .statistic .data.blue .tooltip, .card .statistic .data.blue .tooltip:after {
  background: #547496;
}
.card .statistic .data.blue .point-1 {
  left: 7px;
  top: 58px;
}
.card .statistic .data.blue .point-2 {
  left: 48px;
  top: 47px;
}
.card .statistic .data.blue .point-3 {
  left: 88px;
  top: 62px;
}
.card .statistic .data.blue .point-4 {
  left: 128px;
  top: 52px;
}
.card .statistic .data.blue .point-5 {
  left: 169px;
  top: 58px;
}
.card .statistic .data.blue .point-6 {
  left: 209px;
  top: 71px;
}
.card .statistic .data.blue .point-7 {
  left: 249px;
  top: 61px;
}
.card .days {
  width: 280px;
  margin: 0 auto;
}
.card .days .day {
  display: block;
  float: left;
  width: 14.2857142857%;
  font-size: 9px;
  color: #949494;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	box-sizing:auto;
	padding: 0;
	margin: 0;

	justify-content: center;
}


.main-container {
	background: #444e80;
	color: #abafc6;
	border-radius: 5px;
	padding: 20px;
	width: 500px;
	height: 400px;
  justify-content: center;
}

.year-stats {
	white-space: nowrap;
	max-height: 170px;
	overflow: hidden;
}

.year-stats:hover {
	overflow-x: auto;
}

/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
/* Width */
::-webkit-scrollbar {
	height: 5px;
	width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
	background: #444e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #abafc6;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #5397d6;
}

.month-group {
	cursor: pointer;
	max-width: 400px;
	height: 110px;
	margin: 10px;
	display: inline-block;
}

.bar {
	background-color: #abafc6;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.month-group:hover .bar,
.selected .bar {
	background: #5397d6;
}

.month-group:hover p,
.selected p {
	color: #fff;
}

.h-25 {
	height: 25%;
}
.h-50 {
	height: 50%;
}
.h-75 {
	height: 75%;
}
.h-100 {
	height: 100%;
}

.stats-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 120px;
	height: 120px;
}

.circle {
	stroke: #915db1;
	fill: none;
	stroke-width: 3;
}

.circle:nth-child(2) {
	stroke: #e59f3c;
}

.circle:nth-child(3) {
	stroke: #5397d6;
}

.circle:nth-child(4) {
	stroke: #4cc790;
}

.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.info p {
	margin-bottom: 10px;
}

.info span {
	color: #fff;
}
.places-text {
  text-align: center;
  margin-bottom: 50px;
}
.places-text small {
  font-family: Roboto;
  color: #4c380c;
  font-size: 15px;
  font-weight: bolder;
}
.places-text h2 {
  font-family: Barlow Condensed;
  font-size: 55px;
  color: #ffffff;
  letter-spacing: 1px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.card {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 80%;
  height: auto;
}
.card img {
  max-width: 100%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}
.cards .text {
  padding: 20px;
  font-family: Barlow Condensed;
  line-height: 50px;
}
.cards .card-box {
  display: flex;
  flex-flow: row;
  background-color: #3dc5ff;
  font-size: 18px;
  font-family: Roboto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cards .time {
  flex: 1;
}
.cards .location {
  flex: 2;
}
.cards .cost {
  color: #4cafad;
  font-size: 20px;
}
